View or Remove API Signature
Developers: Do not share your credential information with anyone. Store in a secure location with limited access.
For preconfigured shopping carts: Copy and paste the API username, password, and signature into your shopping cart configuration or administration screen.

For building custom shopping carts: Store the following credential information in a secure location with limited access.

Credential Signature
API Username
marymbugua.nm_api1.gmail.com
Hide
API Password
HKMWAKXBW55WGGRS
Hide
Signature
AGxQ9iMmRRl5rOtl5EEvHrk.x1P9AsBshsslGpvDviLVlPn-QE.2I1dr
Hide
Request Date 7 June 2018 at 12:34:59 AM GMT-7
RemoveDone



DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'egesha',
        'USER': 'nish',
        'PASSWORD': 'Nish',
            }
}

# Paypal SetUp
PAYPAL_TEST = True
PAYPAL_WPP_USER = "marymbugua.nm_api1.gmail.com"
PAYPAL_WPP_PASSWORD = "HKMWAKXBW55WGGRS"
PAYPAL_WPP_SIGNATURE = "AGxQ9iMmRRl5rOtl5EEvHrk.x1P9AsBshsslGpvDviLVlPn-QE.2I1dr"
